:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bcg-color: #ffffff;
  --footer-bcg-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-bcg-color);
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
}

li {
  list-style-type: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-web {
  color: var(--accent-color);
}

.logo-std {
  color: #000000;
}

.logo-std-white {
  color: #ffffff;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.site-nav .current {
  color: var(--accent-color);
}

.contacts {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.state:hover,
.state:focus {
  color: var(--accent-color);
}

.hero {
  background-color: var(--footer-bcg-color);
}

.hero .hero-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
}

.main-button:hover,
.main-button:focus,
.main-button:active {
  background-color: #188ce8;
}

.features .features-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.work-title,
.about-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.about {
  background-color: #f5f4fa;
}

.about-team li {
  background-color: var(--primary-bcg-color);
}

.team-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.about-text {
  font-size: 16px;
  line-height: 1.19;
}

/* portfolio */

.button {
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}

.button:hover,
.button:focus,
.button:active {
  color: var(--primary-bcg-color);
  background-color: var(--accent-color);
}

.projects .project-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects .project-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
}

.projects a {
  text-decoration: none;
}
/* Footer */
.footer {
  background-color: var(--footer-bcg-color);
}

.adress {
  font-style: normal;
  letter-spacing: 0.03em;
}
.adress-street {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
}
